<section class="p-4 justify-content-center text-center navbar" >

   
            <div class="col-md-6 ">
                <ul class="nav justify-content-center  ">
                    <li class="nav-item">
                      <a  routerLink='' style="color: white;" >Home</a>
                    </li>
                    <li class="nav-item">
                      <a  routerLink="about" style="color: white;" >About</a>
                    </li>
                    <li class="nav-item">
                      <a  routerLink="projects" style="color: white;" >Projects</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="articles" style="color: white;" >Articles</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="settings" style="color: white;" >Settings</a>
                    </li>
                  </ul>
            </div>

           
      
   
</section>

