<div class="fluid-container vh-100 ">
    <div class="container-fluid d-flex w-100 vh-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100" style="width: 280px;">
          <a routerLink="Company_Information" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use href="#"/></svg>
            <span class="fs-4">Dashboard</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a routerLink="whyangula" class="nav-link text-white" aria-current="page"> <!--"nav-link active" to activate-->
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Why Angular?
              </a>
            </li>
            <li> 
              <a routerLink="bubble" class="nav-link text-white"> <!--"nav-link active" to activate-->
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Bubble
              </a>
            </li>
          </ul>
        </div>
        <div class="w-100 vh-100">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>
<!-- <router-outlet></router-outlet> -->

    


    

    





